@using Grand.Web.Common.Page
@{
    Layout = "";
}
<link rel="stylesheet" type="text/css" asp-src="/Plugins/Authentication.OpenIdConnect/Assets/oidcstyles.css" />
<div class="oidc-login-block">
    <div class="buttons">
        <a asp-controller="OpenIdAuthentication" asp-action="OpenIdLogin" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="btn btn-info ml-3 px-5">Login with OIDC</a>
    </div>
</div>